
.header {
    position: fixed;
    inset: 0 0;
    width: 100vw;
    height: 48px;
    z-index: 999;
    background: rgba(17, 185, 128, 1);
  }
  .content {
    width: 100vw;
    padding: 5em 13em;
  }